.select {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  background-color: transparent;
  font-size: 1rem;
  text-align: center;
  line-height: 2;
  appearance: none;
  & option {
    padding: 30px;
    font-size: 1rem;
    line-height: 1.5;
  }
}

.noOutline {
  border: none;
  outline: none;
}