@import '@/styles/media.scss';

.card {
  width: 100%;
  border-radius: 16px;
  box-shadow: 0px 1px 4px -1px rgba(0, 0, 0, 50%);
  overflow: hidden;
}

@include tablet {
  .card {
    width: ($tablet - 48) / 3;
  }
}

@include desktop-sm {
  .card {
    width: ($desktop-sm - 80) / 4;
  }
}

@include desktop {
  .card {
    width: ($desktop - 80) / 4;
  }
}
@include desktop-hd {
  .card {
    width: ($desktop-hd - 80) / 4;
  }
}
@include desktop-fhd {
  .card {
    width: ($desktop-fhd - 80) / 4;
  }
}
@include desktop-qhd {
  .card {
    width: ($desktop-qhd - 80) / 4;
  }
}
@include desktop-uhd {
  .card {
    width: ($desktop-uhd - 80) / 4;
  }
}