.container {
  position: relative;
  width:100%;
}

.input {
  font-size: 1rem;
  line-height: 1.5;
  padding: 0.25rem 0.5rem;
  width: calc(100% - 1rem - 2px);
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.input:not(:placeholder-shown) + .label {
  background: #fff;
  transform: translate(0, -50%);
  opacity: 1;
}

.label {
  left: 8px;
  position: absolute;
  top: 0;
  opacity: 0;
  transition: opacity 0.2s, transform 0.2s;
}
