.grid {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  gap: 16px;
  margin: auto;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

@include tablet {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@include desktop {
  .grid {
    grid-template-columns: repeat(4, 1fr);
    max-width: $desktop-layout;
    padding-left: 0;
    padding-right: 0;
  }
}

@include desktop-hd {
  .grid {
    max-width: $desktop-hd-layout;
  }
}

@include desktop-fhd {
  .grid {
    grid-template-columns: repeat(5, 1fr);
    max-width: $desktop-fhd-layout;
  }
}

@include desktop-qhd {
  .grid {
    max-width: $desktop-qhd-layout;
  }
}
