@import '@/styles/media.scss';

.layout {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: auto;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.left {
  flex: 1;
}

.right {
  flex: 3;
}

@include tablet {
  .layout {
    flex-direction: row;
  }
}

@include desktop {
  .layout {
    max-width: $desktop-layout;
    padding-left: 0;
    padding-right: 0;
  }
}

@include desktop-hd {
  .layout {
    max-width: $desktop-hd-layout;
  }
}

@include desktop-fhd {
  .layout {
    max-width: $desktop-fhd-layout;
  }
}

@include desktop-qhd {
  .layout {
    max-width: $desktop-qhd-layout;
  }
}