.form {
  width: 100%;
}

.title {
  font-size: 1.5rem; 
  font-weight: bold;
}

.hashtagListWrapper {
  display: flex;
  flex-wrap: wrap;
  column-gap: 10px;
  margin-top: 10px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  padding: 4px;
}

.hashtagFormWrapper {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
  margin-top: 16px;
}

.hashtagInput { 
  flex-grow: 1;
  width: 0; 
}

@include tablet {
  .form {
    grid-column: 2 / 4;
    grid-row: 1;
  }
}

@include desktop {
  .form {
    grid-column: 2 / 5;
  }
}

@include desktop-fhd {
  .form {
    grid-column: 2 / 5;
  }
}
