@import '@/styles/media.scss';

.grid {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  gap: 16px;
  width: 100%;
}

@include tablet {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@include desktop {
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }
}