.header {
  position: sticky;
  top: 0;
  z-index: 9999;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 960px;
}

.left {
  min-width: 220px;
}

.center {
  margin-left: calc(960px / 2 - 220px - 200px);
  margin-right: auto;
}

.right {
  display:flex;
  justify-content: flex-end;
}