.logo {
  display:flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.logo::before {
  display:inline-block;
  content: '';
  margin-right: 8px;
  background-image: url("/logo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 2rem 2rem;
  width: 2rem;
  height: 2rem;
}


.logoText{
  font-family: 'Gugi', cursive;
  color: var(--main-color);
}