.myMenu {
  display: flex;
  align-items: center;
  padding: 3px;
  border-radius: 50px;
  color: gray;
  cursor: pointer;
  &:hover {
    color: darken(gray, 60%);
  }
}

.avatar {
  border-radius: 50px;
  overflow: hidden;
  margin: 2px;
}

.icon {
  color: inherit;
  font-size: 1.25rem;
  width: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}