.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 3rem;
  margin-top: 0.375rem;
}

.description {
  color: $content-text;
  height: 3rem;
  font-family: 'Gugi', cursive;
  font-size: 0.875rem;
  line-height: 1rem;
  word-wrap: break-word;
  white-space : break-word;
  overflow: hidden;
  text-overflow: ellipsis;

  display: -webkit-box;
  -webkit-line-clamp: 3; 
  -webkit-box-orient: vertical;
}
