@import '@/styles/theme.scss';

.menuItem {
  width: 100%;
  position: absolute;
  top: 0;
  border-radius: 3px;
  border: $gray-800 solid 1px;
  & li {    
    padding: 0.5rem 0;
    color: $secondary;
    font-size: 0.875rem;
    text-align: center;
    text-decoration: none;
    background-color: $white;
    cursor: pointer;
  }
  & li:hover {
    background-color: $gray-900;
  }
}

.container {
  display: flex;
  margin-top: 0.375rem;
  flex-wrap: wrap;
}

.hashtag {
  margin-right: 0.125rem;
  color: $hashtag-text;
  font-family: 'Gugi', cursive;
  font-size: 0.75rem;
  &:before {
    content: '#';
  }
}