$tablet: 768px;
$desktop: 1024px;
$desktop-hd: 1440px;
$desktop-fhd: 1920px;
$desktop-qhd: 2560px;

$tablet-layout: 100%;
$desktop-layout: 960px;
$desktop-hd-layout: $desktop;
$desktop-fhd-layout: 1376px;
$desktop-qhd-layout: 1728px;

@mixin tablet {
  @media (min-width: #{$tablet}) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}
@mixin desktop-hd {
  @media (min-width: #{$desktop-hd}) {
    @content;
  }
}
@mixin desktop-fhd {
  @media (min-width: #{$desktop-fhd}) {
    @content;
  }
}
@mixin desktop-qhd {
  @media (min-width: #{$desktop-qhd}) {
    @content;
  }
}