$black: #000000;
$gray-100: #202020;
$gray-200: #424242;
$gray-300: #696969;
$gray-400: #808080;
$gray-500: #A9A9A9;
$gray-600: #C0C0C0;
$gray-700: #D3D3D3;
$gray-800: #DCDCDC;
$gray-900: #F5F5F5;
$white: #ffffff;

$primary: #035aff;
$secondary: $gray-200;
$error: #ee2849;
$tag: #91A1BF;
$disabled: $gray-300;

$title-text: $gray-100;
$content-text: $gray-200;
$hashtag-text: $gray-300;

$skeleton-color: rgba(0, 0, 0, 0.20);


@keyframes move {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@mixin animation ($name, $delay, $duration) {
  animation-name: $name;
  animation-delay: $delay;
  animation-duration: $duration;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
